<html>



<body>
    <h1>Gestion des Conférences</h1>
    <nav>
        <a>Home</a> 
        <a href="{% url 'conferenceapp:conference_list' %}">Conférences</a>
        {% if user.is_authenticated %}
            <a href="{% url 'conferenceapp:submission_list' %}">Mes Soumissions</a>
        {% endif %}
        <a>Contact</a> 
        {%if user.is_authenticated %}
            <a href="{% url 'userapp:logout' %}">Déconnexion</a>
        {% else %}
            <a href="{% url 'userapp:login' %}">Connexion</a>
        {% endif %}
    </nav>
    <div>
        {% block content %}
        {% endblock %}
        
    </div>
    <footer>
        <p>2025-2026</p>
        <p>Workshop Django</p>
    </footer>
    
</body>
</html>