
{% extends 'base.html' %}

{% block content %}
<h2>Liste des conférences</h2>
<table border="2">
    ajouter conférence : <a href="{% url 'conferenceapp:conference_add' %}">Ajouter</a>

    <br>
    <tr>
        <td>Nom</td>
        <td>Date de début</td>
        <td>Date de fin</td>
        <td>Lieu</td>
        <td>Détails</td>
        <td>Modifier</td>
        <td>Supprimer</td>
    </tr>
{% for c in conferences %}
    <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.start_date }}</td>
        <td>{{ c.end_date }}</td>
        <td>{{ c.location }}</td>
        <td><a href="{% url 'conferenceapp:conference_detail' c.pk %}">Détails</a></td>
        {% if user.is_authenticated and user.role == "comite" %}
            <td><a href="{% url 'conferenceapp:conference_edit' c.pk %}">Modifier</a></td>
            <td><a href="{% url 'conferenceapp:conference_delete' c.pk %}">Supprimer</a></td>
        {% else %}
            <td>-</td>
            <td>-</td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% endblock %}